// raylib [core] example - scissor test (Disturb port)

eval(read("examples_raylib_port/common.dist"));
name = "core_scissor_test";
if (port_has_display() == 0) {
  cv = beginOffscreenColor(160, 90, PORT_RAYWHITE);
  offscreenDrawRect(cv, 30, 20, 100, 50, PORT_RED);
  ok1 = assertPixelEquals(name, cv, 40, 30, PORT_RED);
  ok2 = assertPixelEquals(name, cv, 10, 10, PORT_RAYWHITE);
  if (ok1 == 1 && ok2 == 1) { port_pass_headless(name); }
}
else {
  port_window_begin(640, 360, "raylib core: scissor test");
  frame = 0;
  while (raylib_phase3.rl2_WindowShouldClose() == 0 && frame < 180) {
    frame = frame + 1;
    raylib_phase3.rl2_BeginDrawing();
    raylib_phase3.rl2_ClearBackground(PORT_RAYWHITE);
    raylib_phase3.rl2_BeginScissorMode(120, 80, 400, 200);
    raylib_phase3.rl2_DrawRectangle(0, 0, 640, 360, PORT_RED);
    raylib_phase3.rl2_EndScissorMode();
    raylib_phase3.rl2_DrawText("Scissor area in center", 190, 20, 20, PORT_DARKGRAY);
    raylib_phase3.rl2_EndDrawing();
  }
  port_window_end();
  port_pass_windowed(name);
}
