// raylib [textures] example - image processing (Disturb port)
// Source: textures/textures_image_processing.c

eval(read("examples_raylib_port/common.dist"));
name = "textures_image_processing";
if (port_has_display() == 0) {
  port_skip(name, "headless environment");
}
else if (port_has_asset("assets/test.png") == 0) {
  port_skip(name, "missing asset assets/test.png");
}
else {
  img = raylib_phase3.rl2_LoadImage("assets/test.png");
  raylib_phase3.rl2_ImageFlipVertical(img);
  raylib_phase3.rl2_ImageColorTint(img, PORT_SKYBLUE);
  tex = raylib_phase3.rl2_LoadTextureFromImage(img);
  raylib_phase3.rl2_UnloadImage(img);

  port_window_begin(800, 450, "raylib textures: image processing");
  frame = 0;
  while (raylib_phase3.rl2_WindowShouldClose() == 0 && frame < 120) {
    frame = frame + 1;
    raylib_phase3.rl2_BeginDrawing();
    raylib_phase3.rl2_ClearBackground(PORT_RAYWHITE);
    raylib_phase3.rl2_DrawTexture(tex, 280, 120, PORT_WHITE);
    raylib_phase3.rl2_DrawText("flipped + tinted image", 290, 360, 20, PORT_DARKGRAY);
    raylib_phase3.rl2_EndDrawing();
  }

  raylib_phase3.rl2_UnloadTexture(tex);
  port_window_end();
  port_pass(name);
}
