// raylib [textures] example - raylib logo texture (Disturb port)
// Source: textures/textures_logo_raylib.c

eval(read("examples_raylib_port/common.dist"));
name = "textures_logo_raylib";
if (port_has_display() == 0) {
  port_skip(name, "headless environment");
}
else if (port_has_asset("raylib/examples/textures/resources/raylib_logo.png") == 0) {
  port_skip(name, "missing raylib logo asset");
}
else {
  port_window_begin(800, 450, "raylib textures: logo raylib");
  // Texture load must happen after InitWindow (OpenGL context required).
  tex = raylib_phase3.rl2_LoadTexture("raylib/examples/textures/resources/raylib_logo.png");
  frame = 0;
  while (raylib_phase3.rl2_WindowShouldClose() == 0 && frame < 120) {
    frame = frame + 1;
    raylib_phase3.rl2_BeginDrawing();
    raylib_phase3.rl2_ClearBackground(PORT_RAYWHITE);
    raylib_phase3.rl2_DrawTexture(tex, 272, 97, PORT_WHITE);
    raylib_phase3.rl2_DrawText("this IS a texture!", 360, 370, 10, PORT_GRAY);
    raylib_phase3.rl2_EndDrawing();
  }

  raylib_phase3.rl2_UnloadTexture(tex);
  port_window_end();
  port_pass(name);
}
