// Visual regression: translation of raylib/examples/shapes/shapes_logo_raylib_anim.c
// Window: 800x450, deterministic state-machine animation, no input.

eval(read("generated/raylib_ffi_phase3.dist"));

RAYWHITE = 0xF5F5F5FF;
BLACK    = 0x000000FF;

frames = 120;
output = "out/disturb/shapes_logo_raylib_anim.png";

raylib_phase3.rl2_InitWindow(800, 450, "raylib [shapes] example - logo raylib anim");
raylib_phase3.rl2_SetTargetFPS(60);

logoPositionX = 272;
logoPositionY = 97;

framesCounter = 0;
topSideRecWidth = 16;
leftSideRecHeight = 16;
bottomSideRecWidth = 16;
rightSideRecHeight = 16;
state = 0;

rf = 0;
while (raylib_phase3.rl2_WindowShouldClose() == 0 && rf < frames) {
  if (state == 0) {
    framesCounter = framesCounter + 1;
    if (framesCounter == 120) {
      state = 1;
      framesCounter = 0;
    }
  }
  else {
    if (state == 1) {
      topSideRecWidth = topSideRecWidth + 4;
      leftSideRecHeight = leftSideRecHeight + 4;
      if (topSideRecWidth == 256) { state = 2; }
    }
    else {
      if (state == 2) {
        bottomSideRecWidth = bottomSideRecWidth + 4;
        rightSideRecHeight = rightSideRecHeight + 4;
      }
    }
  }

  raylib_phase3.rl2_BeginDrawing();
  raylib_phase3.rl2_ClearBackground(RAYWHITE);

  if (state == 0) {
    if (((framesCounter / 15) % 2) != 0) {
      raylib_phase3.rl2_DrawRectangle(logoPositionX, logoPositionY, 16, 16, BLACK);
    }
  }
  else {
    if (state == 1) {
      raylib_phase3.rl2_DrawRectangle(logoPositionX, logoPositionY, topSideRecWidth, 16, BLACK);
      raylib_phase3.rl2_DrawRectangle(logoPositionX, logoPositionY, 16, leftSideRecHeight, BLACK);
    }
    else {
      if (state == 2) {
        raylib_phase3.rl2_DrawRectangle(logoPositionX, logoPositionY, topSideRecWidth, 16, BLACK);
        raylib_phase3.rl2_DrawRectangle(logoPositionX, logoPositionY, 16, leftSideRecHeight, BLACK);
        raylib_phase3.rl2_DrawRectangle(logoPositionX + 240, logoPositionY, 16, rightSideRecHeight, BLACK);
        raylib_phase3.rl2_DrawRectangle(logoPositionX, logoPositionY + 240, bottomSideRecWidth, 16, BLACK);
      }
    }
  }

  raylib_phase3.rl2_EndDrawing();
  rf = rf + 1;
}

raylib_phase3.rl2_TakeScreenshot(output);
raylib_phase3.rl2_CloseWindow();
